<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
    <?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
android:padding="5dip"
android:layout_width="match_parent"
android:layout_height="match_parent">
<ImageView android:id="@+id/imageView1"
    android:layout_width="80dip"
    android:layout_height="60dip"
    android:layout_alignParentTop="true"
    android:layout_alignParentLeft="true"
    android:contentDescription="testing"/>
<TextView android:id="@+id/tvTitle"
    android:layout_width="80dip"
    android:layout_height="wrap_content"
    android:layout_toRightOf="@+id/imageView1"
    android:layout_alignTop="@+id/imageView1"/>
<TextView android:id="@+id/tvContent"
    android:layout_width="80dip"
    android:layout_height="wrap_content"
    android:layout_below="@+id/tvTitle"
    android:layout_toRightOf="@+id/imageView1"
    android:layout_alignBottom="@+id/imageView1"/>
</RelativeLayout>
